
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.18);
    z-index: 1300;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 600px) {
  
  .modal-overlay {
    align-items: flex-start;
    padding-top: 10vw;
  }
}